.btn-circle {
 width: 50px;
 height: 50px;
 text-align: center;
 padding: 6px 0;
 font-size: 12px;
 line-height: 1.42;
 border-radius: 25px;
 color: white;
 bottom: 20px;
 right: 50px;
 position: fixed;
 font-size: 20px;
 font-weight: bold;
}
.btn-background-blue {
 background-color: #4285f4;
}
.btn-background-transparent {
 background-color: #333;
 font-size:22px;
}
.modal-footer-center {
 text-align:center;
}
.progres {
 bottom: 20px;
 left: 50px;
 position: fixed;
 display: none;
}
.pBar {
 width: 200px;
 height: 30px;
}

.container-full {
 width: 100%;
 padding: 0px;
}
