
<img src="http://emotiful2.azurewebsites.net/wp-content/uploads/2013/12/Logo-Beta-300x65.png" alt="Emotiful Logo" style="margin:0px auto;display:block">
    <div role="tabpanel" style="margin:0px auto;display:block; width:50%">
        <ul class="nav nav-tabs nav-justified" role="tablist">
          <li role="presentation" class="active"><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Sign up</a></li>
          <li role="presentation"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
        </ul>
        <div class="tab-content" ng-controller="AuthenticationController">
           <div role="tabpanel" class="tab-pane active" id="signup">
		<form role="form">
		  <div class="form-group">
			<label for="register__email">Email</label>
			<input type="email" class="form-control" id="register__email" ng-model="registerEmail" placeholder="ex. john@emotiful.com" />
		  </div>

		  <div class="form-group">
          		<label for="register__username">Username</label>
          		<input type="text" class="form-control" id="register__username" ng-model="registerUsername" placeholder="ex. john" />
        	  </div>

		  <div class="form-group">
          		<label for="register__password">Password</label>
          		<input type="password" class="form-control" id="register__password" ng-model="registerPassword" placeholder="ex. thisisemotiful" />
        	  </div>

		  <div class="form-group">
          		<button type="submit" ng-click="register()" class="btn btn-primary">Register</button>
        	  </div>
		</form>
		  <hr>
                  <button class="btn btn-primary" ng-click="login_fb()" data-perms="email,user_photos">Login with Facebook</button>
	   </div>
           <div role="tabpanel" class="tab-pane" id="login">
		<form role="form">
		  <div class="form-group">
		  	<label for="login__username">Username</label>
			<input type="text" class="form-control" id="login__username" ng-model="username" placeholder="ex. john" />
		  </div>
		  <div class="form-group">
			<label for="login__password">Password</label>
			<input type="password" class="form-control" id="login__password" ng-model="password" placeholder="ex. thisisemotiful" />
		  </div>
		  <div class="form-group">
			<button type="submit" ng-click="login()" class="btn btn-primary">Login</button>
		  </div>
		</form>
 		  <hr>
		  <button class="btn btn-primary" ng-click="login_fb()" data-perms="email,user_photos">Login with Facebook</button>
	   </div>
        </div>
    </div>

