<!DOCTYPE html>
<html lang="en">
<head>
  <title> {% block title %}{% endblock %} </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/" />
  {% include 'stylesheets.html' %}
</head>
<body ng-app="mosaic">
  <div class="container container-full" ng-view>
  </div>
  {% include 'javascripts.html' %}
</body>
</html>
