{% load staticfiles %}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular-route.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular-sanitize.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular-cookies.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular-resource.js"></script>
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script type="text/javascript" src="{% static "js/app.js" %}"></script>
<script type="text/javascript" src="{% static "js/controllers.js" %}"></script>
<script type="text/javascript" src="{% static "js/services.js" %}"></script>
<script type="text/javascript" src="{% static "js/directives.js" %}"></script>
<script type="text/javascript" src="{% static "js/facebook.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap-image-gallery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.justifiedGallery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/progress.min.js" %}"></script>
