{% load staticfiles %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="{% static "css/bootstrap-image-gallery.min.css" %}">
<link rel="stylesheet" href="{% static "css/mosaic.css" %}">
<link rel="stylesheet" href="{% static "css/justifiedGallery.min.css" %}">
<link rel="stylesheet" href="{% static "css/menu.css" %}">
<link rel="stylesheet" href="{% static "css/progressjs.min.css" %}">
