<p>Hi {{ username }}, </p>
<div ng-controller="UploadController">
<form role="form">
  <div class="form-group">
    <label for="imageSearch">Grab images from Google </label>
    <input type="text" class="form-control" style="width:250px" name="imageSearch" id="imageSearch" ng-model="imageSearchQuery" placeholder="Image Search Query">
  </div>
  <div class="form-group">
    <label for="imageFile">File input</label>
    <input type="file" id="imageFile" name="imageFile" file-model="imageFile">
    <p class="help-block">Upload the Image to be converted to a mosaic.</p>
  </div>
  <div class="checkbox">
    <label>
        <input type="checkbox" id="facebbokPhotos" name="facebookPhotos" ng-model=facebookPhotos>
         Get photos from your facebook albums
    </label>
  </div>
  <div class="form-group">
    <button type="submit" ng-click="upload()" class="btn btn-primary">Create Mosaic</button>
  </div>
</form>
</div>
<h2>You have {{ numberOfMosaics  }} mosaics </h2>
<h6>Right click and click on view image to view the full size image</h6>
{% for i in mosaics %}
    {% if i.mosaic %}
    <br />
    <img src={{ i.mosaic.url }} width="300" height="300" />
    <br />
    <button class="btn btn-primary" onClick="shareMosaicOnFacebook('http://54.67.28.198{{ i.mosaic.url }}')">Share on Facebook</button>
    <br />
    {% endif %}
{% endfor %}
