<div id="progressBar" style="display:None">
  <p>&nbsp</p>
</div>
<div id="wrapper">
<div id="sidebar-wrapper">
      <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand"><a id="menu-toggle" href="#" menu>Mosaic<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
      </ul>
        <ul class="sidebar-nav" id="sidebar">     
          <li>
		<a>{{ username.first_name }}
			<span class="sub_icon glyphicon glyphicon-user"></span>
		</a>
	  </li>
          <li ng-controller="AuthenticationController"><a ng-click="logout()">Logout<span class="sub_icon glyphicon glyphicon-off"></span></a></li>
        </ul>
</div>
<div id="page-content-wrapper">
<div class="page-content inset">
<div class="row">
<div class="col-md-12">
<div id="links"gallery>
  {% for i in mosaics %}
    {% if i.mosaic %}
      <a ng-href="{{ i.mosaic.url  }}" title="{{ i.mosaic }}" data-gallery>
        <img src="{{ i.thumbnail.url }}" />
      </a>
    {% endif %}
  {% endfor %}
</div>
<div>
  <a title="Create a mosaic" href="#formModal" role="button" class="btn btn-default btn-circle btn-background-blue" data-toggle="modal" rel="tooltip" data-original-title="Create a mosaic" tooltip>+</a>
</div>           

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false" fbshare>
  <!-- The container for the modal slides -->
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <a class="btn-circle btn-background-transparent" rel="tooltip" data-original-title="Share on facebook" tooltip>f</a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <h4 class="modal-title"></h4>
          </div>
          <div class="modal-body next"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left prev">
              <i class="glyphicon glyphicon-chevron-left"></i>
              Previous
            </button>
            <button type="button" class="btn btn-primary next">
              Next
              <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Form Modal -->
<div id="formModal" class="modal fade" ng-controller="UploadController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="form-horizontal form-group">
          <label for="imageFile" class="sr-only">Photo or a picture</label>
          <input type="file" id="imageFile" name="imageFile" placeholder="Upload the picture or a photo" file-model="imageFile">
          <p class="help-block"> Upload a picture or a photo. </p>
        </div>
      </div>
      <div class="modal-body row">
        <div class="col-md-6">
          <h4>Themes</h4>
          <form role="form">
            <div class="form-group">
              <label for="imageSearch" class="sr-only">Name a theme </label>
              <input type="text" class="form-control" name="imageSearch" id="imageSearch" ng-model="imageSearchQuery" placeholder="Name a theme, Ex. Steven Spielberg">
              <!--p> Disabled due to excessive requests. Please use only social connect for now </p-->
            </div>
          </form>
        </div>
        <div class="col-md-6">
          <h4> Social Connect </h4>
            <form role="form">
	      <div class="form-group">
                <label for="instagram" class="sr-only">Instagram Username </label>
                <input type="text" class="form-control" name="instagram" id="instagram" ng-model="instagramUsername" placeholder="What's your instagram username?">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" id="facebbokPhotos" name="facebookPhotos" ng-model=facebookPhotos>
                    Facebook
                </label>
              </div>
            </form>
          </div>
          </div>
          <div class="modal-footer modal-footer-center">
          <button type="submit" data-dismiss="modal" ng-click="upload()" class="btn btn-primary">Create Mosaic!</button>
          <!--button type="button" class="btn btn-default" data-dismiss="modal">Nah.</button-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

